.clearfix::after{
  content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

p{
  font-family: Open Sans, sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: Miriam Libre, Georgia, serif; font-weight: bold;
  color: #7EBDC2;
} 

h1{
  font-size: 80px;
}

h2{
  font-size: 40px;
}

h3{
  font-size: 30px;
}

h4{
  font-size: 20px;  
}

.banner{
  background-color: #F3DFA2;
  overflow:auto; 
  width:100%; 
}
