<div class="su-frame clearfix" style="border-color:#7EBDC2;">
  <div  style="border-bottom: 2px solid #F3DFA2; margin-bottom: 10px; padding-bottom: 10px">
    <h2>Welcome to Quiet Corner</h2>
    <div style="text-align: left">
      <p>
        We exist to help you navigate the masses of New Orleans. Just select a date then checkout the heat map of hot events and recommended events.
      </p>
    </div>
  </div>
  <h3>Select a date!</h3>
  <datepicker date-format="shortDate" date-set="{{$ctrl.date.toString()}}" date-min-limit="{{$ctrl.minDate.toString()}}" date-max-limit="{{$ctrl.maxDate.toString()}}">
    <input readonly ng-model="selectedDate" type="text" ng-change="$ctrl.selectDate(selectedDate)" style="height:30px; width:200px; text-align:center; font-size:20px"/>
  </datepicker>
</div>
